@font-face {
  font-family: "magnolia";
  src: url("../assets/fonts/magnolia-script/Magnolia_Script/Magnolia\ Script.otf");
}
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: hsl(231, 100%, 7%);
  color: #f8ffde;
  font-family: "magnolia";
  #map {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 18px;
    margin-top: 2em;
    margin-bottom: 10em;
    display: flex;
    width: 85%;
    min-height: 25em;
    /* height: 350px;
    width: 350px;*/
    border-radius: 25px;
  }

  header {
    display: flex;
    width: 85%;
    min-height: 7em;
    flex-direction: row;
    background-color: #0e8114;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
  }
  header nav {
    width: 46%;
    display: flex;
    flex-direction: row;
  }
  nav div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  div h1 {
    color: #fc5133;

    animation: flicker 3s infinite alternate;

    font-size: 2em;
  }

  #logo {
    width: 27%;
    display: inline-block;
    margin: 0.5em;
  }
  #logo img {
    width: 25%;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .spacer {
    width: 27%;
  }
  main {
    width: 97%;
    border-left: #d9fc18 15px dashed;
    border-right: #effc33 15px dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f8ffde;

    #myTable_wrapper {
      display: flex;
      flex-direction: column;
      width: 85%;
      color: #363732;
    }
    #myTbody {
      background-color: #003004;
    }
    .dt-orderable-asc {
      background-color: #0e8114;
      text-align: center;
      font-size: large;
      color: #e0ff64;
    }
    .dt-layout-row {
      /* background-color: #0e8114;*/
      color: #e0ff64;
    }
    .dt-paging-button:hover {
      background-color: #0e8114;
      color: #e0ff64;
      border-color: #0e8114;
    }
    th {
      text-align: center;
      color: #003004;
    }
    tr {
      text-align: center;
      color: #e0ff64;
      background-color: #f8ffde;
    }
  }
}
.dt-button {
  background-color: #f8ffde !important;
  color: #003004 !important;
}
#myTable_filter {
  color: #d9fc18;
}
#dataTables_info {
  color: #d9fc18;
}
#myTable_paginate {
  color: #d9fc18;
}
.dataTables_info {
  color: #d9fc18 !important;
}
.tableContainer {
  display: block;
  overflow-x: auto;
  width: 85%;
}

#myTable {
  table-layout: auto;
  width: 100% !important;
}

#myTable_wrapper {
  width: 100% !important;
}
th,
td {
  word-wrap: break-word;
  white-space: normal;
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
      0 0 82px rgb(255, 94, 0), 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@media screen and (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;

    nav {
      width: 100%;
    }
    nav h1 {
      font-size: 1.5em;
      text-align: center;
    }
    #logo {
      display: none;
    }
    .spacer {
      display: none;
    }
  }
  main {
    width: 80%;
  }
  body {
    width: 97%;
  }
  .tableContainer {
    width: 100%;
  }
  #myTable {
    width: 100% !important;
  }
  #myTable_wrapper {
    width: 100%;
    .dt-layout-row {
      display: none;
    }
  }
}
