@font-face {
  font-family: "magnolia";
  src: url("../assets/fonts/magnolia-script/Magnolia_Script/Magnolia\ Script.otf");
}
* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: hsl(231, 100%, 7%);
  color: #f8ffde;
  font-family: "magnolia";
  #map {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 18px;
    margin-top: 2em;
    margin-bottom: 2em;
    display: flex;
    width: 85%;
    min-height: 25em;
    /* height: 350px;
    width: 350px;*/
    border-radius: 25px;
  }

  header {
    display: flex;
    width: 85%;
    min-height: 7em;
    flex-direction: row;
    background-color: #0e8114;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
  }
  header nav {
    width: 46%;
    display: flex;
    flex-direction: row;
  }
  nav div {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  div h1 {
    color: #fc5133;

    animation: flicker 3s infinite alternate;

    font-size: 2em;
  }

  #logo {
    width: 27%;
    display: inline-block;
    margin: 0.5em;
  }
  #logo img {
    width: 25%;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  .spacer {
    width: 27%;
  }
  main {
    width: 97%;
    border-left: #d9fc18 15px dashed;
    border-right: #effc33 15px dashed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #f8ffde;

    #myTable_wrapper {
      display: flex;
      flex-direction: column;
      width: 85%;
      color: #363732;
    }
    #myTbody {
      background-color: #003004;
    }
    .dt-orderable-asc {
      background-color: #0e8114;
      text-align: center;
      font-size: large;
      color: #e0ff64;
    }
    .dt-layout-row {
      /* background-color: #0e8114;*/
      color: #e0ff64;
    }
    .dt-paging-button:hover {
      background-color: #0e8114;
      color: #e0ff64;
      border-color: #0e8114;
    }
    th {
      text-align: center;
    }
    tr {
      text-align: center;
      color: #e0ff64;
      background-color: #f8ffde;
    }
  }
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
      0 0 82px rgb(255, 94, 0), 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.snow {
  width: 500px;
  height: 100px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E");
  background-position: 0px 0px;
  animation: animatedBackground 10s linear infinite;
}

.snow div {
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.7%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st3' cx='4' cy='14' r='1'/%3E%3Ccircle class='st3' cx='43' cy='3' r='1'/%3E%3Ccircle class='st3' cx='31' cy='30' r='2'/%3E%3Ccircle class='st3' cx='19' cy='23' r='1'/%3E%3Ccircle class='st3' cx='37' cy='22' r='1'/%3E%3Ccircle class='st3' cx='43' cy='16' r='1'/%3E%3Ccircle class='st3' cx='8' cy='45' r='1'/%3E%3Ccircle class='st3' cx='29' cy='39' r='1'/%3E%3Ccircle class='st3' cx='13' cy='37' r='1'/%3E%3Ccircle class='st3' cx='47' cy='32' r='1'/%3E%3Ccircle class='st3' cx='15' cy='4' r='2'/%3E%3Ccircle class='st3' cx='9' cy='27' r='1'/%3E%3Ccircle class='st3' cx='30' cy='9' r='1'/%3E%3Ccircle class='st3' cx='25' cy='15' r='1'/%3E%3Ccircle class='st3' cx='21' cy='45' r='2'/%3E%3Ccircle class='st3' cx='42' cy='45' r='1'/%3E%3C/svg%3E");
  background-position: 0px 0px;
  animation: animatedBackground 15s linear infinite;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0px 300px;
  }
}

@media screen and (max-width: 700px) {
  header {
    display: flex;
    flex-direction: column;
    width: 100%;

    nav {
      width: 100%;
    }
    nav h1 {
      font-size: 1.5em;
      text-align: center;
    }
    #logo {
      display: none;
    }
    .spacer {
      display: none;
    }
  }
  main {
    width: 80%;
  }
  body {
    width: 97%;
  }
  #myTable {
    display: none;
  }
  #myTable_wrapper {
    display: none;
    .dt-layout-row {
      display: none;
    }
  }
}
